@model MonitoringConfigurator.Models.Contact
@{
    ViewData["Title"] = "Podgląd wiadomości";
}
<h2>Podgląd wiadomości</h2>
<dl class="row">
  <dt class="col-sm-2">Data</dt>
  <dd class="col-sm-10">@Model.CreatedAt.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</dd>
  <dt class="col-sm-2">Temat</dt>
  <dd class="col-sm-10">@Model.Subject</dd>
  <dt class="col-sm-2">Treść</dt>
  <dd class="col-sm-10"><pre class="mb-0">@Model.Message</pre></dd>
</dl>
<a asp-action="Index" class="btn btn-secondary">Wróć</a>
