@{
    ViewData["Title"] = "Prywatność";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Polityka prywatności</h2>
<p>Ta aplikacja demonstracyjna używa tożsamości ASP.NET do logowania. Dostosuj treść do wymogów RODO swojej organizacji.</p>
